.lotto-ticket-form {
    width: 500px;
    min-height: 200px;
    margin-top: 40px;
    float: left;
}

.lotto-ticket-form-title {
    font-size: 20px;
    font-weight: bold;
}

.lotto-ticket-form-selectable {
    margin: 6px 6px 6px 6px;
    width: 45px;
    height: 45px;
    background-color: #aaaaaa;
    color: black;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.lotto-ticket-form-button {
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 26px;
    color: white;
    background-color: #00a94e;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px #222222;
}

.lotto-ticket-form-button:hover {
    background-color: #10b95e;
}

.lotto-ticket-form-button:active {
    top: 2px;
    left: 2px;
    background-color: #20c96e;
    box-shadow: 1px 1px #222222;
    position: relative;
}